
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital@0;1&family=Victor+Mono:wght@300;700&display=swap');

* {
  margin: 0;
  padding: 0;
}


body{
  box-sizing: border-box;
  background-color: black;
  background-size: cover;
  color:#f6f6f6;
}

.destaque-titulo {
  color:#22D4FD;
}

.cabecalho{
  padding: 1% 0% 0% 15%;
}

.cabecalho__menu{
  display: flex;
  gap: 80px;
}

.cabecalho__menu__link{
  font-family: "JetBrains Mono", monospace;
  color:#22D4FD;
  font-size: 24px;
  text-decoration: none;
}

.apresentacao{
  padding: 4% 15%;
  display:flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.apresentacao__conteudo{
  width: 615px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.apresentacao__conteudo__titulo{
  font-size: 36px;
  font-family: "JetBrains Mono", monospace;
  text-shadow: 2px 2px 4px #22D4FD;
  text-align: justify;
}

.apresentacao__conteudo__paragrafo{
  font-size: 24px;
  font-family: "Victor Mono", monospace;
  text-align: justify;
}

.apresentacao__links{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.apresentacao__links__subtitulo{
  font-family: "JetBrains Mono", monospace;
  font-size: 32px;
}

.apresentacao__links__link{
  display: flex;
  justify-content: center;
  gap: 16px;
  border: 5px outset #22D4FD;
  width: 378px;
  text-align: center;
  border-radius: 8px;
  font-size: 24px;
  padding: 21.5px 0;
  text-decoration: none;
  color: #f6f6f6;
  font-family: "Victor Mono", monospace;
  font-weight: 700;
  
}

.apresentacao__links__link:hover{
  background-color: #272727;
}

.apresentacao__lista__about{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items:center;
  gap: 32px;
}

.apresentacao__lista__about__conteudo{
  display: flex;
  justify-content: center;
  flex-direction: column;
  list-style-type: none;
  text-align:justify;
  color: #f6f6f6;
  font-family: "Victor Mono", monospace;
  font-size: 24px;
  padding: 6px 0;
  gap: 5px;
}

#html_icon{
  list-style-image: url(html.png);
}

#css_icon{
  list-style-image: url(css.png);
}

#js_icon{
  list-style-image: url(js.png);
}

#vue_icon{
  list-style-image: url(vuejs.png);
}

.rodape{
  padding: 24px;
  color: #000000;
  text-align: center;
  background-color: #22D4FD;
  font-family: "JetBrains Mono", monospace;
  font-size: 24px;
}